

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 0.1rem solid #56a5eb;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
  }
  
button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }

button[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }

#loader { 
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #56a5eb;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

